@model TH07_10_04_2024.Models.tbl_Deparment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailsDept</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <style>
        table, th, td { /* Apply border styles to table, headers, and cells */
            border: 1px solid black; /* Example: 1px solid black border */
        }
    </style>
</head>
<body>
    <div>
        <table style="border: 1px solid black;">
            <tr>
                <th>Department ID</th>
                <th>Department Name</th>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DeptId)</td>
                <td>@Html.DisplayFor(model => model.DeptId)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>So Nhan Vien:</td>
                <td>@ViewBag.SoNhanVien</td>
            </tr>
        </table>

    </div>
    <p>
        @Html.ActionLink("Edit", "UpdateDept", new { id = Model.DeptId }) |
        @Html.ActionLink("Back to List", "ShowDeparments")
    </p>
</body>
</html>
