
@{
    ViewBag.Title = "Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "CreateAlbum")
</p>
<div class="container mt-5" style="color: black;"">
    <div class=" row">
    @foreach (var Item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/Assets/images/@Item.AnhBia" class="card-img-top rounded-circle" alt="Album Image">
                <div class="card-body">
                    <h5 class="card-title">@Item.TenAlbum</h5>
                    <p class="card-text">Mã Album: @Item.MaAlbum</p>
                    <p class="card-text">Ngày Tạo: @Item.NgayTao</p>
                    @Html.ActionLink("Xem chi tiết", "LoadSongByAlbum", "BaiHat", new { idAb = Convert.ToInt32(@Item.MaAlbum) }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>

</div>

