@model IEnumerable<API_Bai1.Models.tbl_BaiHat>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowDataBaiHat</title>
    <!--Bootstrap 4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
</head>
<body>
    <div class="container">
        <h2 class="mt-3" style="text-align:center; color:blue; font-weight:bold">BẢNG BÀI HÁT</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenBH)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaTL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaNS)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenBH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaTL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaNS)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.MaBH }) |
                        @Html.ActionLink("Details", "Details", new { id=item.MaBH }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.MaBH })
                    </td>*@
                </tr>
            }

        </table>
    </div>
    
</body>
</html>
