@model TH09_17_04_2024.Models.Sach
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="container">
    <table>
        <tr class="text-left">
            <td rowspan="5" width="45%">
            <img src="/HinhAnhSP/@Model.AnhBia" width="100%" height="100%" alt="Image"/>
            </td>
            <td width="20%">Tên sách:</td>
            <td width="35%" style="font-weight:bold; color:blue">@Model.TenSach</td>
        </tr>
        <tr class="text-left">
            <td>Tên chủ đề:</td>
            <td style="color:blue">@Model.ChuDe.TenChuDe</td>
        </tr>
        <tr class="text-left">
            <td>Nội dung tóm tắt:</td>
            <td class="text-justify">@Model.MoTa</td>
        </tr>
        <tr class="text-left">
            <td>Giá bán:</td>
            <td style="font-weight:bold; color:red">
                @string.Format("{0:0,0}", @Model.GiaBan) VNĐ
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("ThemGioHang", "GioHang", new { @ms = Model.MaSach, @strURL = Request.Url.ToString() } )">
                    <input type="submit" value="MUA NGAY" class="btn btn-primary" /> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </a>
                
            </td>
            <td>
                @*<a href="/Sach/SachAll">*@
                <a href="@Url.Action("SachAll", "Sach")">
                    <input type="submit" value="MUA TIẾP" class="btn btn-primary" />
                </a>
            </td>
        </tr>
    </table>
</div>