@model IEnumerable<TranMinhKhanh_2033216449_KT2.Models.SanPham>

@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/UserLayoutTest.cshtml";
}

<h2>TrangChu</h2>



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/Images_KTL2/@item.Anh" style="height: 350px;" class="card-img-top custom-image" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.TenSP</h5>
                        <p class="card-text">@item.MoTa</p>
                        <p class="card-text"><strong>Giá bán:</strong> @item.GiaBan</p>
                        <p class="card-text"><strong>Số lượng tồn:</strong> @item.SLTon</p>
                        <p class="card-text"><strong>Ngày cập nhật:</strong> @item.NgayCapNhat</p>
                        <div class="btn-group" role="group" aria-label="Actions">
                            @Html.ActionLink("Xem Chi Tiết", "XemChiTiet", new { msp = item.MaSP }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Edit", "Edit", new { msp = item.MaSP }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { msp = item.MaSP }, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>