@model TranMinhKhanh_2033216449_KT2.Models.KhachHang

@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/UserLayoutTest.cshtml";
}

<h2>DangNhap</h2>

@using (Html.BeginForm(Html.BeginForm("DangNhap", "NguoiDung", FormMethod.Post, new { @class = "form-signin" })))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.TaiKhoan, new { @class = "sr-only" })
        @Html.TextBoxFor(model => model.TaiKhoan, new { @class = "form-control", placeholder = "Tài khoản", autofocus = "autofocus" })
        @Html.ValidationMessageFor(model => model.TaiKhoan)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MatKhau, new { @class = "sr-only" })
        @Html.PasswordFor(model => model.MatKhau, new { @class = "form-control", placeholder = "Mật khẩu" })
        @Html.ValidationMessageFor(model => model.MatKhau)
    </div>
    if (ViewData["ThatBai"] != null)
    {
        @ViewData["ThatBai"]
    }
    if (ViewData["ThanhCong"] != null)
    {
        @ViewData["ThanhCong"]
    }
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Đăng nhập</button>
    </div>
}

