@model IEnumerable<TH05_20_03_2024.Models.SanPham>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show Products By San Pham</title>
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
</head>
<body>
    <div class="container">
        <form action="/SanPham/SortProduct">
            <table>
                <tr>
                    <td>Ten San Pham: </td>
                    <td>
                        <select name="DDL_TenSP" class="form-control">
                            <option value="0">None</option>
                            <option value="1">Ascending</option>
                            <option value="2">Descending</option>
                        </select>
                    </td>
                    <td>Gia San Pham: </td>
                    <td>
                        <select name="DDL_GiaSP" class="form-control">
                            <option value="0">None</option>
                            <option value="1">Ascending</option>
                            <option value="2">Descending</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button class="btn btn-outline-success mx-5" type="submit">SORT</button>
                    </td>
                </tr>
            </table>
        </form>
        <form method="post" action="/SanPham/SearchProduct">
            <input type="text" name="txt_Search" id="txt_Search" class="form-control mx-auto" placeholder="Search" />
            <button type="submit" class="btn btn-outline-success mx-5">Search</button>
        </form>
        <table class="table table-bordered table-responsive">
            <tr style="background-color:aquamarine">
                <th>
                    @Html.DisplayNameFor(model => model.Masp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tensp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hinh)
                </th>
                <th width="200px">
                    @Html.DisplayNameFor(model => model.Gia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Maloai)
                </th>
                <th>Delete</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Masp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tensp)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Hinh)*@
                        <img src="/Assets/images/@item.Hinh" width="70px" />
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Gia)*@
                        <label style="width:200px">@item.Gia</label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maloai)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "DeleteProduct", "SanPham", new { id = item.Masp})*@
                        <a href="../SanPham/DeleteProduct?id=@item.Masp">Xoa</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
