@model IEnumerable<KiemTraGiuaKyLan2.Models.SanPham>

@{
    ViewBag.Title = "SanPhamTheoLoai";
    Layout = "~/Views/Shared/UserLayoutTest.cshtml";
}

<h2>SanPhamTheoLoai</h2>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="~/Images_KTL2/@item.Anh" class="card-img-top" alt="Product Image" style="height: 250px;">
                    <div class="card-body">
                        <h5 class="card-title">@item.TenSP</h5>
                        <p class="card-text">@item.MoTa</p>
                        <p class="card-text"><strong>Giá bán:</strong> @item.GiaBan</p>
                        <p class="card-text"><strong>Số lượng tồn:</strong> @item.SLTon</p>
                        <p class="card-text"><strong>Ngày cập nhật:</strong> @item.NgayCapNhat</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Actions">
                            @Html.ActionLink("Xem chi tiết", "XemChiTiet", new { msp = item.MaSP }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Edit", "Edit", new { id = item.MaSP }, new { @class = "btn btn-primary btn-sm" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.MaSP }, new { @class = "btn btn-danger btn-sm" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
