<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Assets/css/Style1.css")"/>
    <title>@ViewBag.Title</title>
</head>
<body>
   
   <div id="Wrapper">
    	@RenderPage("~/Views/Shared/Header.cshtml")
        @RenderSection("SubHeader", false)
        <div id = "Content">  
            @RenderBody()<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />  
        </div>
        @RenderSection("SubFooter", false)
        @RenderPage("~/Views/Shared/Footer.cshtml")
    </div>      

</body>
</html>
