
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    <!--Bootstrap 4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
</head>
<body style="color:black">
    <div id="Wrapper" class="container">
        <br />
        @RenderPage("~/Views/Shared/Header.cshtml")
        @RenderPage("~/Views/Shared/Menu.cshtml")
        <br />
        <div id="Content" class="row">
            <div class="col-xs-12 col-sm-6 col-md-9">
                <!-- Sản Phẩm tiêu biểu-->
                @RenderBody()

            </div>
            <!--SideBar-->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <ul class="list-group list-group-flush text-left bg-light">
                    <li class="list-group-item" style="background-color:yellowgreen"><a href="#" style="text-transform:uppercase; text-decoration:none; color:white; font-weight:bold;">Hoa theo chủ đề</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-transform:uppercase; text-decoration:none;">Hoa Sinh nhật</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-transform:uppercase; text-decoration:none;">Hoa khai trương</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-transform:uppercase; text-decoration:none;">Lan hồ điệp</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-transform:uppercase; text-decoration:none;">Hoa cưới</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-transform:uppercase; text-decoration:none;">Hoa Lan</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-transform:uppercase; text-decoration:none;">Hoa chia buồn</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-transform:uppercase; text-decoration:none;">Quà tặng</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-transform:uppercase; text-decoration:none;">Trái cây</a></li>
                </ul>


                <ul class="list-group list-group-flush text-left bg-light">
                    <li class="list-group-item" style="background-color:yellowgreen;"><a href="#" style="text-transform:uppercase; text-decoration:none; color:white; font-weight:bold;">Chọn theo giá</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-decoration:none;">250,000đ trở xuống</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-decoration:none;">250,000đ - 400,000đ</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-decoration:none;">400,000đ - 600,000đ</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-decoration:none;">600,000đ - 900,000đ</a></li>
                    <li class="list-group-item bg-light"><a href="#" style="text-decoration:none;">Trên 1,000,000đ</a></li>
                </ul>


            </div>
        </div>

        @RenderPage("~/Views/Shared/Footer.cshtml")
    </div>
</body>
</html>