@using TranMinhKhanh_2033216449_KT2.Models;
@model List<GioHang>

@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/UserLayoutTest.cshtml";
}

<div class="container">
    <h2 class="text-center text-uppercase">Đơn đặt hàng</h2>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="font-weight-bold">
                <tr>
                    <th>Mã Sản Phẩm</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Ảnh</th>
                    <th>Số Lượng</th>
                    <th>Đơn Giá</th>
                    <th>Thành Tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.iMaSP</td>
                        <td>@item.sTenSP</td>
                        <td><img src="~/Images_KTL2/@item.sAnh" class="img-thumbnail" width="150px" /></td>
                        @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @MaSP = item.iMaSP }))
                        {
                            <td><input type="number" min="1" name="txtSoLuong" value="@item.iSoLuong" size="2" class="form-control" /></td>
                            <td>@String.Format("{0:0,0}", item.dGiaBan)</td>
                            <td>@String.Format("{0:0,0}", item.dThanhTien)</td>
                        }
                    </tr>
                }
            </tbody>
            <tfoot class="bg-light">
                <tr>
                    <td colspan="3" class="text-right text-primary font-weight-bold">Tổng cộng:</td>
                    <td class="text-danger font-weight-bold">Số lượng: @ViewBag.TongSoLuong</td>
                    <td></td>
                    <td colspan="4" class="text-danger font-weight-bold">Tổng tiền: @String.Format("{0:0,0}", ViewBag.TongThanhTien) VNĐ</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <h2 class="text-center text-uppercase">Thông tin đặt hàng</h2>

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-group">
                    <label>Họ tên khách hàng:</label>
                    <p class="form-control-static font-weight-bold">@ViewBag.TenKhachHang</p>
                </div>
                <div class="form-group">
                    <label>Địa chỉ:</label>
                    <p class="form-control-static font-weight-bold">@ViewBag.DiaChi</p>
                </div>
                <div class="form-group">
                    <label>Điện thoại:</label>
                    <p class="form-control-static font-weight-bold">@ViewBag.DienThoai</p>
                </div>
                <div class="form-group">
                    <label>Ngày đặt:</label>
                    <p class="form-control-static font-weight-bold">@DateTime.Now.ToShortDateString()</p>
                </div>
                <div class="form-group">
                    <label>Ngày giao hàng:</label>
                    <input type="date" name="NgayGiao" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Đồng ý đặt hàng" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>


