@model TH04_06_03_2024.Models.Deparment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowListEmplByDept</title>
    <!--Bootstrap 4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
</head>
<body>
    <div class="container">
        <h4 style="color:blue; font-weight:bold;">DANH SACH NHAN VIEN THEO PHONG BAN</h4>
        <dl class="dl-horizontal">
            <dd>
                <b>PHONG: </b>@Html.DisplayFor(model => model.Name) 
            </dd>
        </dl>
        <hr />
        <table class="table table-bordered table-responsive">
            <thread style="background-color:blue; color:white;">
                <tr>
                    <th>Ma NV</th>
                    <th>Ho Ten</th>
                    <th>Gioi tinh</th>
                    <th>Thanh Pho</th>
                </tr>
            </thread>
            @foreach (var item in ViewBag.empList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Gender</td>
                    <td>item.City</td>
                </tr>
            }
        </table>
        <p>
            @Html.ActionLink("Back to Deparments List", "ShowDDLDept")
        </p>
    </div>
</body>
</html>
